.tituloPageBody{
    font-family: Tahoma;
    text-align: center;
    font-size: large;
    color: #0D3059;
}
.list-group-item{
    font-family: Tahoma;
    font-size: 16px;
    background-color: #ebebeb;

}
a{
    font-family: Tahoma;
    font-size: 16px;
}
.divMenuRegional{
    border-radius: 10px;
    background-color: #dbdbdb;
}
.pesquisa{
    font-family: Tahoma;
    margin: 2px;
    height: 35px;
    border-radius: 4px;

}
